/* style.css */
body {
    font-family: sans-serif;
    margin: 0; /* Remove default margins */
    padding: 0;
}

h1 {
    color: rgb(0, 255, 81);
}

nav ul {
    list-style: none; /* Remove bullet points */
    padding: 0;
}

nav li {
    display: inline; /* Make list items horizontal */
    margin-right: 20px;
}

img {
    max-width: 100%; /* Make images responsive */
    height: auto;
}
small {font-family: sans-serif;
    margin: 0; /* Remove default margins */
    padding: 0;
    size: 5}